<button (click) = onClick()>Add to cart!!!</button>
<p >{{getNum()}}</p>


<img  class="col-sm-12"  [ngStyle] = "{'height': '300px'}" src="assets/img/summersalepic.png">
<hr>


<div class="container" >
  <div class="row" >
   
    <div class="col-sm-3">
      
        <a routerLink ="/cyberpowerpc-rainbow" routerLinkActive="active"><img  [ngStyle] = "{'width': '300px','height': '400px'}" src="assets\img\cyberpowerpc_rainbow.png"></a> 
        
    </div>

    <div class="col-sm-3" >
      <h3 [ngStyle] = "{'margin-left': '50px'}">CYBERPOWERPC Gamer Xtreme VR Gaming PC, Intel Core i5-9400F 2.9GHz, NVIDIA GeForce GTX 1660 Ti 6GB, 8GB DDR4, 120GB SSD, 1TB HDD, WiFi Ready & Win 10 Home (GXiVR8500A, Black)</h3>
      <ul [ngStyle] = "{'margin-left': '40px'}">
        <li>System: Intel Core i5-9400F 2.9GHz 6-Core | Intel B360 Chipset | 8GB DDR4 | 120GB SSD | 1TB HDD | Genuine Windows 10 Home 64-bit</li>
        <li>Graphics: NVIDIA GeForce GTX 1660 Ti 6GB Video Card | 1x HDMI | 1x DisplayPort</li>
        <li>Connectivity: 6 x USB 3.1 | 2 x USB 2.0 | 1x RJ-45 Network Ethernet 10/100/1000 | </li>
        <li>Audio: 7.1 Channel | Gaming Keyboard and Mouse 802.11AC Wi-Fi | RGB 7 Colors Gaming mouse
          1 Year Parts & Labor | Free Lifetime Tech Support
        </li>
        
      </ul>
      
    </div>

    <div class="col-sm-3">
        <a routerLink ="/ibuypower-redblack" routerLinkActive="active"><img  [ngStyle] = "{'width': '300px','height': '400px'}" src="assets\img\iBuyPower_redblackpc.png"></a> 
        
    </div>
    <div class="col-sm-3">
      <h3 [ngStyle] = "{'margin-left': '50px'}">iBUYPOWER Enthusiast Gaming PC Desktop AM010A AMD FX-6300 3.5Ghz, NVIDIA Geforce GT 710 1GB, 8GB DDR3 RAM, 1TB HDD, WiFi Adapter, Gaming Keyboard/Mouse & Win 10 Home</h3>
      <ul [ngStyle] = "{'margin-left': '40px'}">
        <li>System: AMD FX-6300 6-Core 3. 5 GHz (4. 1 GHz Turbo) | 8GB DDR3 RAM | 1TB HDD | Genuine Windows 10 Home 64-bit</li>
        <li>Graphics: NVIDIA GeForce GT 710 1GB Dedicated Graphics Card | Display Connectors - Dual Link DVI-D, HDMI, & VGA</li>
        <li>Connectivity: 2 x USB 3. 0 | 2 x USB 2. 0 | 1x RJ-45 Network Ethernet 10/100/1000</li>
        <li>Audio: 7. 1 Channel Keyboard and Mouse</li>
        <li>Special Add Ons: 802. 11ac Wireless Wi-Fi</li>
        <li>iBUYPOWER Gaming Keyboard & Mouse: 1 Year Parts & Labor + Free Lifetime Tech Support | Assembled in the U. S. A</li>
        <li> *Optical Drive Not Included*</li>

      </ul>
    
    </div>
  </div>
</div>




